.viewclinicdata_body{
    height:485px;
}

.viewclinicdata_body h1{
    text-align:center
}

.viewclinicdata_tab{
    padding-top:5px;
    padding-bottom:5px;
    margin-left:0px;
    height:60px;
    float:left;
    width:98%;
    border-radius:10px;
    margin-top:-10px;
}

.viewclinicdata_tablinks{
    height:50px;
    width:150px;
    border: none;
    outline: none;
    text-align:center;
    cursor:pointer;
    background-color:rgb(31, 138, 210);
    color:white;
    font-size: large;
    font-weight: bold;
    border-radius:10px;
    margin-left:20px;
    transition: 0.3s;
}

.viewclinicdata_tablinks.active{
    background-color:rgb(16, 96, 150);
}

.viewclinicdata_tab button:hover{
    background-color:rgb(5, 90, 146);
}

.viewclinicdata_tabcontent{
    text-align: center;
    overflow-y:scroll;
    height: 313px;
    margin-top:10px;
    float:left;
    display:none;
    width:98%;
    border-radius:10px;
    padding-top:15px;
}



.searchbar{
    border-radius:5px;
    width:50%;
    height:40px;
    background: #f1f1f1;
    border: none;
    padding-left: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    font-size: large;
  }
  
  .searchbutton{
    height:40px;
    width:140px;
    border: none;
    outline: none;
    text-align:center;
    cursor:pointer;
    background-color:rgb(31, 138, 210);
    color:white;
    font-size: large;
    font-weight: bold;
    border-radius:5px;
    margin-left:-5px;
    transition: 0.3s;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .searchbutton:hover{
    background-color:rgb(5, 90, 146);
  }
  
  .clinic_search_result{
     margin-left:5px;
    text-align: center;
    height: 245px;
    min-height: 50px;
    margin-top:0px;
    float:left;
    width:99%;
    padding-top:15px;
  }
  
  
  .noappointment{
    text-align: center;
    margin-top:10px;
    font-size: larger;
  }
  




.scalable{
    max-width:97%;
    height:auto;
}


.set_appointment_label{
    font-size:larger;
  }
  
  .set_appointment_input{
    background-color: rgb(124, 195, 243);
    color:white;
    font-size: large;
    font-weight: bold;
    width:95%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    border-radius:10px;  
    outline:none;
  }

  .set_appointment_inputq{
    background-color: rgb(124, 195, 243);
    color:white;
    font-size: large;
    font-weight: bold;
    width:45%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    border-radius:10px;  
    outline:none;
  }
  
  .set_appointment_submit{
    background-color: rgb(124, 195, 243);
      color:white;
      font-size: large;
      font-weight: bold;
      width:95%;
      padding: 10px;
      margin: 5px 0 12px 0;
      display: inline-block;
      border: none;
      border-radius:10px;
      cursor: pointer;
  }

  #height_input_cm{
    width:86%;
  }
  
  #height_unit,#uheight_unit{
    background-color: rgb(124, 195, 243);
    color:white;
    font-size: large;
    font-weight: bold;
    width:7%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    border-radius:10px;  
  }

  .fi{
     display:none;
      width:42%;
  }

  #weight_input{
      width:92%;
  }


  .clickable{
    cursor:pointer;
    color:rgb(31, 138, 210);
}

.clickable:hover{
    color:red;
}

tr:nth-child(even) {
    background-color: rgb(143, 201, 240);
}

.table_heading{
    background-color:rgb(31, 138, 210);
    color:white;
}

td{
    vertical-align:center;
    text-align:center;
    padding:5px 5px;
    text-transform: capitalize;
    color:inherit;
}




/* width */
.viewclinicdata_tabcontent::-webkit-scrollbar {
    width: 5px;
    background-color:white;
}
     
/* Track */
.viewclinicdata_tabcontent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}
      
/* Handle */
.viewclinicdata_tabcontent::-webkit-scrollbar-thumb {
    background: rgb(31, 138, 210);
    border-radius: 10px;
}



/* width */
.message_div::-webkit-scrollbar {
    width: 5px;
    background-color:white;
}
     
/* Track */
.message_div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}
      
/* Handle */
.message_div::-webkit-scrollbar-thumb {
    background: rgb(31, 138, 210);
    border-radius: 10px;
}

