.body{
    margin-left:-10px;
    width:101.2%;
    height:100%;
}

.healthTips h2{
    text-align: center;
}

.flink:hover{
    text-decoration: none;
    color:blue;
}

h4 a:hover{
    color:blue;
    text-decoration: none;
}